*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}
#page1{
    height: 100vh;
    background-color: #F6F6EE;
    position: relative;
}

#top-nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-nav #left h4{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "playfair display";
    padding-left: 50px;
}
#top-nav #right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
}
#right h4{
    font-size: 25px;
    color: black;
    font-weight: 500;
    font-family: "playfair display";
}

#box{
    width: 50%;
    height: 25%;
    position:absolute;
    left: 25%;
    top: 20%;
    text-align: center;
    line-height: 60px;
}
#box h1{
    font-size: 60px;
    font-family: "playfair display";
    color: black;
    font-weight: 600;
}
#box p{
    font-size: 20px;
    font-family: "playfair display";
    color: black;
    font-weight: 400;
}
#box button{
    background-color: black;
    color: white;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 50px;
}

#img-div{
    position: relative;
}
#main #img-div img{
width: 100%;
}


#alpha{
    position:absolute;
    left: 10%;
    bottom: 4%; 
    display: flex;
}

#alpha #left{
    border-right: 2px solid black;
    text-align: right;
    padding-right: 30px;
}
#left h1{
    font-size: 50px;
    font-family: Gilroy;
    font-weight: 900;
    color: black;
}
#left #line{
    width: 12%;
    height: 1%;
    background-color: black;
    position: relative;
    left: 85%;
    margin: 15px 0px;
}
#alpha #left p{
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    color: black;
}

#alpha #right{
    padding-left: 20px;
    display: flex;
    gap: 20px;
}
#right #rl{
    font-size: 40px;
    top: 48px;
    position: relative;
}
#right #rr h1{
    font-size: 50px;
    font-family:"Gilroy";
    position: relative;
    top: 35px;
}

#right #rr p{
    position: relative;
    top: 95px;
    font-size: 20px;
    color: black;
}
